<html>

    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        {% load staticfiles %}
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <title>
            Nandan Satheesh
        </title>

        <style>

            .container{
            padding-top:80px;

            }


        </style>
    </head>

    <body>


        <div class="container">



          <div class="jumbotron">
            <h1 class="display-3">Jumbotron Heading</h1>
            <p class="lead">
              Some random text here.
              <p>

              <a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
          </div>

          <div class="row marketing">
            <div class="col-lg-6">
              <h4>Subheading</h4>
              <p>

                  Some text here also.
              </p>

                <h4>Subheading</h4>
              <p>

                  Some text here also.
              </p>


                <h4>Subheading</h4>
              <p>

                  Some text here also.
              </p>

             </div>

        <div class="row marketing">
            <div class="col-lg-6">
              <h4>Subheading</h4>
              <p>

                  Some text here also.
              </p>

                <h4>Subheading</h4>
              <p>

                  Some text here also.
              </p>


                <h4>Subheading</h4>
              <p>

                  Some text here also.
              </p>

             </div>

    </div> <!-- /container -->

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    </body>
</html>